<% include partials/header %>

<h1><%=huntingGround.name %></h1>

<img src="<%= huntingGround.image %>">

<p><%= huntingGround.description %></p>

<% huntingGround.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>

